<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="ERPconnStr" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.0.211)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = topprod))); Persist Security Info=True;User ID = top01; Password=top01;" />    
    <add name="BESTconnStr" connectionString="Data Source=192.168.0.254; Initial Catalog=sab; User ID=sa001; Password=sabrina;Connect Timeout=180" />
    <add name="BESTconnStr_KM" connectionString="Data Source=192.168.4.122; Initial Catalog=new_sab; User ID=sa001; Password=sa123456;Connect Timeout=180" />
    <add name="MySqlconnStr" connectionString="Server=172.16.1.219; Port=3306; Database=outassist; User=root; Password=Sabrina123" />
  </connectionStrings>
</configuration>