<?xml version="1.0" encoding="utf-8" ?>
<UpdateConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerUrl>http://192.168.98.197/AutoUpdater/updateservice.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="Debug.zip" lastver="1.0.0.1" size="7650750"  remark="
			   
			   	【2020-10-01】
    1、上线测试。

	 

 "        needRestart="true" />
  </UpdateFileList>
</UpdateConfig>