<?xml version="1.0" encoding="utf-8" ?>
<UpdateConfig  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerUrl>http://172.16.1.219/AutoUpdater/updateservice.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="Debug.zip" lastver="1.1.0.7" size="7650750"  remark="
       【2020-11-06】
    1、财编生成直接打印。
               
       【2020-11-06】
    1、GTNPO 上傳與NIKE CONNECT 上傳。
               
      【2020-11-04】
    1、转2厂入库 对比。
    
       【2020-10-28】
    1、转2厂入库记录查询。
    
      【2020-10-20】
    1、财编打印。
    
      【2020-10-01】
    1、上线测试。
               
               "
               needRestart="true" />
  </UpdateFileList>
</UpdateConfig>